doctype 5
html
  head
  meta(http-equip='Content-Type', content='text/html;charset=UTF-8')
  title yamr group chat
  link(type='text/css', href='/stylesheets/chat.css', rel='stylesheet', media='screen')
  body
    | error!
